* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: "Satoshi", sans-serif;
	/* background-color: #fafafa; */
	overflow-x: hidden;
}


.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
	padding: 4rem;
}


.btn-container{
	padding: 4rem;
	border: 2px solid black;
	height: 20rem;
	justify-content: center;
	align-items: center;
	display: flex;
}


/* button 2 */


.borders-container {
	background: #ff237b;
	box-sizing: border-box;
	box-shadow: 0px 7px 24px #ff237b;
	width: max-content;
	padding: 1.2rem;
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.25s ease;
    font-size: 3rem;
	/* background: transparent; */
}

.borders-container a {
	text-decoration: none;
	color: #ffffff;
}

.borders-container:hover, .borders-container:focus{
    transform: translateY(-0.09em);
    box-shadow: 0px 10px 24px rgba(255, 0, 102, 0.71);
   
}

.borders-container::before,
.borders-container::after {
	content: "";
	border-width: 1px;
	/* border-radius: 13px; */
	width: calc(100% + 10px);
	height: calc(100% + 10px);

	z-index: 2;
	border: 1px solid #070707;
	position: absolute;
}

.borders-container {
	position: relative;
}

.borders {
	/* border: 2px solid #ffffff; */
	position: relative;
	overflow: hidden;
	z-index: 10;
	background-color: transparent;
}

.borders-container::before {
	left: 0;
	top: 0;
}
.borders-container::after {
	right: 0;
	bottom: 0;
}



/* button 2 */

.mail {
	/* background: #FF1D74; */
	background: #ff0066;
	box-sizing: border-box;
	/* box-shadow: 0px 7px 24px #ff237b; */
	box-shadow: -3px 5px rgb(0, 0, 0);
	border: 3px solid rgb(0, 0, 0);
	/* border: 3px solid #fc63a0; */
	width: fit-content;
	padding: 0.4rem 2rem;
	/* margin-top: 3rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: box-shadow 0.25s ease;
	/* z-index: 398457; */
	/* background: transparent; */
	/* margin: auto; */
	font-size: min(3rem, 4vw);
}

.mail svg {
	margin-right: 0.8rem;
}

.mail a {
	text-decoration: none;
	color: #ffffff;
}

.mail:hover {
	box-shadow: 0px 0px #000000;
}


/* button 3 */
.hgithub {
	/* height: 10rem; */
	border-radius: 12px;
	background-color: #fff;
	border: 2px solid #02101d;
	grid-row: 4/5;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* padding: 0; */
	font-size: 3rem;
	padding: 2rem;
	/* flex-direction: column; */
	height: 10rem;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.hgithub::before{
	background: linear-gradient(360deg, #ff237b 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	z-index: -100;
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
	border-radius: 8px;
}

.hgithub:hover::before{
	opacity: 1;
}